* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.head-container {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 2.8rem;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;


}
.con {
    background-color: orange;
    border: 1px dashed black;
}
.square2 {

    width: 40%;


}
.square1 , .square3 {
    width: 20%;
}

.section {
    display: flex;
   height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.wrapper1 {
    background-color: blue;
}
.card1 {
    height: 300px;
    background-color: palevioletred;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
   
}

.wrapper2 {
    background-color: white;
}

.card {
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px dashed black;
}

.card2{
    background-color: lightblue;
    width: 40%;
   
}
.card2a {
    background-color: lightpink;
    width: 20%;
}

.wrapper3 {
    background-color: lightgray;
}

.wrapper4 {
    
}