* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img {
    max-width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
}
.align-items-center {
    align-items: center;
}
.flex-container {
    display: flex;
}

.header-top {
    height: 5rem;
    background-color: lightblue;
    display: flex;
}

.header-logo, 
.header-actions {
    width: 20%;
    border: 1px solid white;
}

.header-nav {
    flex-grow: 1;
    border: 1px dashed white;

}

.header-actions {
    text-align: right;
}
.header-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;


}


.header-nav li {
    margin: 0 5rem;
}


/* .head-container {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;


} */
.con {
    background-color: orange;
    border: 1px dashed black;
}
.square2 {

    width: 40%;


}
.square1 , .square3 {
    width: 20%;
}

.section-smaller {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.section {
    display: flex;
   height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.wrapper1 {
    background-color: blue;
}
.card1 {
    height: 80%;
    background-color: palevioletred;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.wrapper2 {
    background-color: white;
}

.card {
    height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dashed black;
}

.card2{
    background-color: lightblue;
    width: 40%;
   
}
.card2a {
    background-color: lightpink;
    width: 20%;
}

.wrapper3 {
    background-color: lightgray;
}
.section-bigger {
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.wrapper4 {
    background-color: lightgray;
    
}
.card4 {
    height: 80%;
    background-color: green;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-col {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 75, 75);
}
.col {
    height: 80%;
    background-color: rgb(135, 218, 246);
    border: 1px solid black;
    width: 10%;
}
.col1 {
    background-color: rgb(244, 148, 162);
    width: 20%;
}

hr {
    color: white;
}

/* footer {
    background-color: rgb(76, 75, 75);
}

.foot-container {
    width: 100%;
    display: flex;
    min-height: 100px;
   margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}
.justify-between {
    justify-content: space-between;
}
.link-wrapper {
    background-color: lightskyblue;
    width: 80%;
    min-height: 100px;
    flex-direction: row;
    
}
.foot {
    background-color: lightpink;
    width: 10%;
    border: 1px dashed black;
    }  */
    
    

.row {
    display: flex;

}  

.justify-content-between {
    justify-content: space-between;
}

footer {
    /* Debug */
    background-color: darkslategrey;
}

.main-column {
    width: 30%;
    /* Debug */
    background-color: lightcyan;
    min-height: 400px;
}

.menu-column {
    width: 70%;
    display: flex;
    /* Debug */
    background-color: lightpink;
    min-height: 400px;
}

.footer-menu {
    width: calc(100% / 4);
    /* Debug */
    border: 1px dashed gray;
    min-height: 400px;
}

.footer-bottom {
   /* Debug */
   border-top: 1px solid white;
}

.footer-bottom .container {
    padding: 1rem 0;
    /* Debug */
    background-color: lightblue;
}